@model ToDo

<h2>Nova Tarefa</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Adicionar" method="post">
    <div class="mb-3">
        <label asp-for="Descricao" class="form-label">Descricao</label>
        <input asp-for="Descricao" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="CategoriaId" class="form-label">Categoria</label>
        <select asp-for="CategoriaId" class="form-select" asp-items="@(new SelectList(ViewBag.Categorias, "CategoriaId", "Nome"))">
            <option value=""></option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Vencimento" class="form-label">Data de Vencimento</label>
        <input asp-for="Vencimento" class="form-control" type="text" />
    </div>
    <div class="mb-3">
        <label asp-for="SituacaoId" class="form-label">Situação</label>
        <select asp-for="SituacaoId" class="form-select" asp-items="@(new SelectList(ViewBag.Situacoes, "SituacaoId", "Nome"))">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a asp-action="Index" class="btn btn-primary">Cancelar</a>


</form>